# NECESSARY PARAMETERS
pdb = '../truncated.pdb'	# Local or Global position of a pdb file of the MD system that will be analyzed
traj_loc = '../Trajectories/'	# Local or Global position of the directory where trajectories are located
start = 1		# the integer of the trajectory that will be first to be analyzed
end = 150	 	# the integer of the trajectory that will be last to be analyzed
pocket_selection = 'protein and resid 27:35 60 63:64 117:118 147 149 159 245:249 288:289 292:293 296'
pocket_radius = 6.0
wat_resname = 'WAT'
wat_O_name = 'O'
substrate_atom1 = 'resname atp and name O3B'
substrate_atom2 = 'resname atp and name PG'		# this atom is used in both the bond axis and water distance analysis. Nucleophilic water attacks this atom

# OPTIONAL PARAMETERS
# ATOM SELECTION PARAMETERS
alignment = 'protein and name CA and (resid 20:25 50:55 73:75 90:94 112:116 142:147 165:169 190:194 214:218 236:240 253:258 303:307)'

Wrapped = True

# OUTPUT PARAMETERS
write_summary = True		# Boolean value; if True, the script will print out a summary file that breaks down the parameters used in the analysis and how to rerun the same analysis
summary_filename = 'AMBER_ssrna_atp.nucleophilic_waters.summary'
nucl_wat_outputname ='AMBER_ssrna_atp.nucleophilic_waters.dat'
avg_wat_outputname = 'AMBER_ssrna_atp.avg_waters.dat'
center_of_geometry_filename = 'AMBER_ssrna_atp.COG.xyz'

