nucleophile_water_datafile = 'AMBER_ssrna_atp.nucleophilic_waters.dat'
average_water_datafile = 'AMBER_ssrna_atp.avg_waters.dat'
distance_cutoff = 5.00
angle_cutoff = 160.0
start = 0
stop = 1500
step = 50
system_descriptor = 'ssRNA-ATP'

distance_bin_width = 0.05
angle_bin_width = 1.50
delta_write = 0.002
homemade_time_range_bool = True
homemade_time_range_list = [[200,1500],[200,600],[600,900],[900,1500]]
plotting_bool = True
Free_energy_bool = True
nucleophile_water_postanalysis_output = 'AMBER_ssrna_atp.nucleophilic_water_results.5.ang.160deg.dat'
average_water_postanalysis_output = 'AMBER_ssrna_atp.average_water_results.dat'
plot_x_range_tuple = (2.50,8.00)
plot_y_range_tuple = (25.0,180.0)

