# NECESSARY PARAMETERS
pdb_file = '../test.pdb'
prmtop_file = '../test.prmtop'
traj_file = '../test.10_frames.dcd'
pocket_selection = 'protein and resid 27:35 60 63:64 117:118 147 149 159 245:249 288:289 292:293 296'
wat_O_name = 'O'
wat_H_name = 'H1'

# OPTIONAL PARAMETERS
wat_resname = 'WAT'
pocket_radius = 8.0
number_of_wats_filename = 'num_wats_pocket.test.dat' 	# File to print out the number of residues within the binding pocket
wat_res_nums_filename = 'res_nums_wats_pockets.test.dat'	# File to print out the atom numbers of the oxygen atom of TIP3 residues within the binding pocket selection
center_of_geometry_filename = 'COG_pocket.test.xyz' 	# File to print a vmd xyz trajectory showing the motion of the COG of the binding pocket selection
correlation_filename = 'autocorrelation.test.dat'	# data file that holds the MSD (and error analysis) and O-H bond autocorrelation results 
long_lived_wat_filename = 'long_lived_wats.vmd'		# not really writing this file in the vis-state format but it has a string that can be copied into vmd to visualize the water residues that live in the defined pocket for an extended amount of time (200 frames)
Wrapped = True			# Boolean; True if the simulation has already been wrapped about a molecule; moving all molecules to within the original periodic image; False if the simulation has not been wrapped.
water_OH_bond_dist = 0.9572	# TIP3P water model O-H bond distance; Assumes SHAKE or SETTLE or rigidBond is used to keep water O-H bonds rigid
summary = True
summary_filename = 'water_diffusion.summary'

#exclude_waters_bool = True
#exclude_waters_selection = 'around 5 resid 33'

# WRITE A VMD VIS STATE TO VISUALIZE THE COG DEFINITION IN RELATION TO THE PROTEIN STRUCTURE
VMD_vis_bool = True
VMD_vis_filename = 'COG_vis_state.vmd'
VMD_step = 2

