# NECESSARY PARAMETERS
pdb_file = 'AAA'
prmtop_file = 'BBB'
traj_loc = 'CCC'
start = 'XXX'
end = 'YYY'
pocket_selection = 'protein and resid 27:35 60 63:64 117:118 147 149 159 245:249 288:289 292:293 296'
pocket_radius = 8.0
wat_resname = 'WAT'

# OPTIONAL PARAMETERS
number_of_wats_filename = 'num_wats_pocket.XXX.dat' 	# File to print out the number of residues within the binding pocket
wat_res_nums_filename = 'res_nums_wats_pockets.XXX.dat'	# 
center_of_geometry_filename = 'COG_pocket.XXX.xyz' 	# File to print a vmd xyz trajectory showing the motion of the COG of the binding pocket selection
COG_delta_write = 1000
water_retention_filename = 'water_retention.dat'
Wrapped = True			# Boolean; True if the simulation has already been wrapped about a molecule; moving all molecules to within the original periodic image; False if the simulation has not been wrapped.
summary = True
summary_filename = 'water_diffusion.summary'

